#sidebar
{
    opacity: 0.0; 
    background: rgb(178, 240, 255);
    position:fixed;
    width:5%;
    height:100%;
    top:0;
    left:0;
    transition:all 0.5s;
    z-index: 10;
}
#sidebar:hover
{
    opacity:0.7;
    width:15%;
    transition:all 0.5s;
}
.button
{
margin:0.2em;    
height: 2em;
background: rgb(129, 230, 255);
color:rgb(0, 153, 255) ;
padding: 0.5em;
text-align: center;
overflow: hidden;
}
.button:hover
{
background: rgb(208, 246, 255);
color:rgb(0, 89, 255) ;
cursor:hand;
}
.mangaPage
{
    width: 100%;
}
.mangaTitle
{
    margin:0em;   
    font-size: 0.8em;
    overflow-x:auto;
    overflow-y: hidden;
    height: 1.2em;
    padding: 0.5em;
    text-align: left;
    white-space:nowrap;
}
.mangaTitle::-webkit-scrollbar
{
    display: none;
}
body
{
    overflow-x:hidden;
}